# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
.vscode/
*.iml

# Flutter (cubre un_dia_mas/)
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build/
**/.packages

# Secrets
.env
*.keystore
**/key.properties
